@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&family=Roboto:weight@100;300;400;700;&display=swap");

.main-btn {
    display: inline-block;
    padding: 0.625rem 1.875rem;
    line-height: 1.5625rem;
    font-size: 1rem;
    font-weight: 600;
    color: #43121d;
    text-transform: capitalize;
    background-color: transparent;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
    --webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    border: 1px solid #43121d;
}

.main-btn:hover {
background-color: aliceblue;
}

.second-btn{
    display: inline-block;
    padding: 0.625rem 1.875rem;
    line-height: 1.5625rem;
    font-size: 1rem;
    border: none;
    background-color:#d35400 ;
    color: white;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
    --webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;  
}
.second-btn:hover{
    color: #43121d;
}
h2,h4 ,h5{
    color: #43121d;
}


/*===============================
 home-section
 ================================
 */

#home .top-banner {
    background: url(images/asst1.jpeg)no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh
}


#home .main-btn i {
    color: #43121d;
}



/* Location-area */
.location .card img{
    background-repeat:no-repeat;
    background-size: cover;
    height: 250px;
}
.location  span{
    color: #43121d;
    font-weight: bold;
    font-family: cursive;
}





/* 
==========================================
Destination-Section
==========================================
*/

 #destination .card img{
    height: 250px;
    background-color: transparent;
 }
 /* upcoming-event */
 .upcoming-event .row img{
    height: 200px;
    background-size: cover;
 }







 /* 
 =========================================
 About-Section
 =========================================
  */
  #aboutUs .img img{
    border-radius: 50%;
    height:200px;
    width: 30%;    
}